body {
  font-family: 'Roboto', sans-serif;
}

.screenreader-text {
	position: absolute;
	left: -999px;
	width:1px;
	height: 1px;
	top: auto;
}

.screenreader-text:focus {
	color: #000000;
	display: inline-block;
	height: auto;
	width: auto;
	position: static;
	margin: auto;
}

/* Keys */
.keys {
  display: flex;
  justify-content: space-evenly;
}

.key {
  height: 10rem;
  width: 10rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.key kbd {
  width: 2rem;
  text-align: center;
}